

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

::ng-deep .custom-button .p-button {
    background-color: #F9F6EE !important;
    border-color: #F9F6EE !important;
    color: #333 !important; /* Szükség szerint változtatható a szöveg színe */
}

.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; 
    margin-top: 150px;
}

/* app.component.css */
.svg-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
