<div class="login-container">
    <div class="login-box">
        <h1>Bejelentkezés</h1>

        <div class="input-wrapper">
            <p-floatLabel>
                <input pInputText id="username" [(ngModel)]="userValue" class="input-field" />
                <label for="Felhasználónév">Felhasználónév</label>
            </p-floatLabel>
        </div>

        <div class="input-wrapper">
            <p-floatLabel>
                <p-password id="password" [(ngModel)]="passValue" [toggleMask]="true" class="input-field"></p-password>
                <label for="Jelszó">Jelszó</label>
            </p-floatLabel>
        </div>

        

        <button class="sign-in-btn">Bejelentkezés</button>
    </div>

    
</div>

