

.menubar {
    display: flex;
    justify-content: center; /* Középre igazítás */
    align-items: center; /* Vertikális középre igazítás */
    width: 100%; /* A teljes szélesség */
  }
  
  p-menubar {
    display: flex;
    justify-content: space-between; /* Egyenlő távolságok a menüelemek között */
    align-items: center; /* Vertikális középre igazítás */
    width: auto; /* Az elemek szélessége */
  }
  
  p-button {
    margin: 0 15px; /* A gombok közötti távolság */
  }
  
  p-iconField {
    margin: 0 15px; /* A keresőmező és a gombok közötti távolság */
  }
  


.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; 
    margin-top: 150px;
}

/* app.component.css */
.svg-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: -1;
}


